<% if @timelapses.present? %>
  <% @timelapses.each do |timelapse| %>
    <% user = EvercamUser.where(username: timelapse["user_id"]).first.decorate %>
    <tr>
      <td><%= timelapse["id"] %></td>
      <td><%= timelapse["access_token"] %></td>
      <td><%= timelapse["code"] %></td>
      <td>
        <% if camera = Camera.where(exid: timelapse["camera_id"]).first %>
          <a href="/cameras/<%= camera.id %>"><%= camera.name %></a>
        <% else %>
          <%= timelapse["camera_id"] %>
        <% end %>
      </td>
      <td>
      <div class='link-user'>
        <a href="http://timelapse.evercam.io/login.html?id=<%= user.username %>&api_id=<%= user.api_id %>&api_key=<%= user.api_key %>" target="_blank" class="pull-left"><%= user.fullname %></a>
        <a class='pull-right u-dash' href='<%= check_env %>/v1/cameras/<%= timelapse["camera_id"] %>?api_id=<%= user.api_id %>&api_key=<%= user.api_key %>' target='_blank'><i class='fa fa-external-link'></i></a>
        <a tooltip='Intercom Conversation' class='pull-right open-intercom' data-username="<%= user.username %>"><i class='fa fa-comment-o'></i></a>
      </div>
      </td>
      <td><%= timelapse["title"] %></td>
      <td><%= timelapse["file_size"] %></td>
      <td><%= timelapse["created_date"] %></td>
      <td><%= timelapse["resolution"] %></td>
      <td><%= timelapse["duration"] %></td>
      <td><%= timelapse["interval"] %></td>
      <td><%= timelapse["is_date_always"] %></td>
      <td><%= timelapse["is_time_always"] %></td>
      <td><%= timelapse["snaps_count"] %></td>
      <td><%= timelapse["status"] %></td>
      <td><%= timelapse["last_snap_date"] %></td>
    </tr>
  <% end %>
<% end %>
