<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr role="row" class="heading">
    <th>&nbsp;</th>
    <% 11.downto(0) do |i| %>
      <th>
        <%= i.months.ago.strftime("%B %Y") %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      New Cameras
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= Camera.created_months_ago(i).count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      Total Cameras
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= Camera.where(created_at: Camera.select(:created_at).order(:created_at).first.created_at..i.months.ago.end_of_month).count if Camera.count > 0 %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      New Paid Cameras
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= Camera.new_paid_cameras(i).count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      Total Paid Cameras
    </td>
    <% total = 0 %>
    <% 11.downto(0) do |i| %>
      <td>
        <%= Camera.total_paid_cameras(i).count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      New Users
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= User.created_months_ago(i).count %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      Total Users
    </td>
    <% 11.downto(0) do |i| %>
      <td>
        <%= User.where(created_at: Camera.select(:created_at).order(:created_at).first.created_at..i.months.ago.end_of_month).count if Camera.count > 0 %>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>
