<% if @admins.present? %>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.username %></td>
      <td><%= admin.fullname %></td>
      <td><%= admin.email %></td>
      <td><%= admin.created_at.present? ? admin.created_at.strftime('%a, %d %b %Y %H:%M:%S') : "" %></td>
      <td><%= admin.updated_at.present? ? admin.updated_at.strftime('%a, %d %b %Y %H:%M:%S') : "" %></td>
      <td><%= admin.last_sign_in_at.present? ? admin.last_sign_in_at.strftime('%a, %d %b %Y %H:%M:%S') : "" %></td>
      <td><%= admin.current_sign_in_at.present? ? admin.current_sign_in_at.strftime('%a, %d %b %Y %H:%M:%S') : "" %></td>
      <td><%= admin.sign_in_count %></td>
      <td><%= admin.last_sign_in_ip.present? ? admin.last_sign_in_ip : "" %></td>
      <td><i admin-id="<%= admin.id %>" firstname="<%= admin.firstname %>" lastname="<%= admin.lastname %>" class="fa fa-pencil-square-o edit-admin"></i></td>
      <td><i admin-id="<%= admin.id %>" class="fa fa-trash-o delete-admin"></i></td>
    </tr>
  <% end %>
<% end %>
