<tr>
  <td><%= camera_share_request.email %></td>
  <td><%= link_to camera_share_request.camera.name, camera_path(camera_share_request.camera) %></td>
  <td><%= link_to camera_share_request.user.fullname, user_path(camera_share_request.user) %></td>
  <td><%= camera_share_request.message %></td>
  <td><%= camera_share_request.share_rights %></td>
  <td><%= camera_share_request.user_status %></td>
  <td><%= camera_share_request.share_created_at %></td>
</tr>