<div class="profile-account">
  <div id="user-cameras-snapshots" class="mix-grid">
    <% @user.cameras.each do |camera| %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 camera-index <%= "camera-offline" unless camera.is_online %>">
          <div class="snapshot <%= "offline-snapshot" unless camera.is_online %>">
            <% if camera.preview %>
              <img class="snapshot-proxy snapshot-refresh" src="data:image/jpeg;base64,<%= Base64.encode64(camera.preview) %>" />
            <% else %>
              <img class="snapshot-proxy snapshot-refresh" src="<%= image_path 'noise.png' %>" />
            <% end %>
          </div>
          <div class="camera-info <% unless camera.is_online %> offline-grey <% end %>">
            <div class="camera-name">
              <%= camera.name %>
              <% unless camera.is_online %>
                <i class="red fa fa-chain-broken"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>