<div class="tab-pane active portlet-body" id="tab_1_11">
  <table class="table table-striped table-bordered table-advance table-hover">
    <tbody>
    <tr>
      <td>
        First Name
      </td>
      <td><%= @user.firstname %></td>
    </tr>
    <tr>
      <td>
        Last Name
      </td>
      <td><%= @user.lastname %></td>
    </tr>
    <tr>
      <td>
        Username
      </td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><%= @user.country_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Registered Since</td>
      <td><%= @user.registered_at %></td>
    </tr>
    <tr>
      <td>API ID</td>
      <td><%= @user.api_id %></td>
    </tr>
    <tr>
      <td>API Key</td>
      <td><%= @user.api_key %></td>
    </tr>
    <tr>
      <td>Insight ID</td>
      <td><%= @user.insight_id %></td>
    </tr>
    <tr>
      <td>Referral URL</td>
      <td><%= @user.referral_url %></td>
    </tr>
    </tbody>
  </table>
</div>