<%= content_for(:title, "Users") %>
<img src="<%= image_path 'loading.gif' %>" id="api-wait" style="display:none" />
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="dropdown-checklist" id="div-dropdown-checklist">
      <div href="#" class="btn btn-default grey" data-toggle="modal" data-target="#toggle-datatable-columns">
        <i class="fa fa-columns"></i>
      </div>
    </div>
    <%= render 'columns_modal' %>
    <%= render 'multiple_user_edit_model' %>
    <div class="row overlapping">
      <div class="form-main">
        <div class="main-contain">
          <div class="filter-name">
            Search
          </div>
          <div class="input-divs">
            <input type="text" class="first-ins" placeholder="Username" id="username" autocomplete="off"/>
            <input type="text" class="first-ins" placeholder="Fullname" id="fullname" autocomplete="off">
            <input type="text" class="first-ins" placeholder="email" id="email" autocomplete="off">
          </div>
        </div>
        <div class="main-contain licence-space">
          <div class="filter-name">
            Licence Required
          </div>
          <div class="input-divs-s">
            <input type="text" class="small-ins" placeholder="from" id="licREQ1" autocomplete="off">
            <input type="text" class="small-ins" placeholder="to" id="licREQ2" autocomplete="off">
          </div>
          <div class="filter-second">
            Licence Valid
          </div>
          <div class="input-divs-s">
            <input type="text" class="small-ins" placeholder="from" id="licVALID1" autocomplete="off">
            <input type="text" class="small-ins" placeholder="to" id="licVALID2" autocomplete="off">
          </div>
          <div class="filter-second def-ins">
            Licence Deficient
          </div>
          <div class="input-divs-s">
            <input type="text" class="small-ins" placeholder="from" id="licDEF1" autocomplete="off">
            <input type="text" class="small-ins" placeholder="to" id="licDEF2" autocomplete="off">
          </div>
        </div>
        <div class="main-contain licence-space">
          <div class="filter-name">
            Total Cameras
          </div>
          <div class="input-divs-s">
            <input type="text" class="medium-ins" placeholder="numeric" id="total_cameras" autocomplete="off">
          </div>
          <div class="filter-second">
            Type
          </div>
          <div class="payment-type-divs">
            <select id="user_payment_type" class="first-ins" autocomplete="off">
              <option value="">All</option>
              <option value="0">Stripe</option>
              <option value="1">Custom</option>
              <option value="2">Construction</option>
              <option value="3">Gardai</option>
              <option value="4">Smart Cities</option>
            </select>
          </div>
        </div>
        <div class="main-contain licence-space">
          <div class="filter-name" style="width: 148px;margin-top: 4px;">
            Created Date Older than
          </div>
          <div class="input-divs-s" style="width: 68px;margin-top: 4px;">
            <input type="text" class="medium-ins" id="created_at_date" autocomplete="off" style="width: 35px;" placeholder="MTs">
          </div>
          <div class="filter-name" style="margin-left: -21px;width: 175px;margin-top: 4px;">
            Last Login Date Older than
          </div>
          <div class="input-divs-s" style="margin-top: 5px;width: 52px;">
            <input type="text" class="medium-ins" id="last_login_at_date" autocomplete="off" style="width: 35px;" placeholder="MTs">
          </div>
          <div class="filter-second" style="margin-top: 3px;">
            Last Login
          </div>
          <div class="payment-type-divs" style="margin-left: -25px;">
            <select id="last_login_at_boolean" class="first-ins" autocomplete="off" style="width: 135px; margin-top: 4px;">
              <option value="true">True</option>
              <option value="false">False</option>
              <option value="whatever" selected="selected">Whatever</option>
            </select>
          </div>
        </div>
        <div class="main-contain licence-space">
          <div class="filter-name" style="margin-left: 32px;">
            Cameras Owned <
          </div>
          <div class="input-divs-s">
            <input type="text" class="medium-ins" placeholder="numeric" id="owned_cameras" autocomplete="off" style="width: 37px;">
          </div>
          <div class="filter-name" style="margin-left: -59px;">
            Cameras Shared <
          </div>
          <div class="input-divs-s">
            <input type="text" class="medium-ins" placeholder="numeric" id="shared_cameras" autocomplete="off" style="width: 37px;">
          </div>
          <div class="filter-second" style="margin-right: 1px; margin-top: 3px;width: 152px;margin-left: -55px;">
            Remembrance Camera
          </div>
          <div class="payment-type-divs" style="margin-left: -25px;">
            <select id="include_erc" class="first-ins" autocomplete="off" style="width: 135px; margin-top: 4px;">
              <option value="true">True</option>
              <option value="false">False</option>
              <option value="whatever" selected="selected">Whatever</option>
            </select>
          </div>
        </div>
        <div class="main-contain licence-space">
          <div class="filter-second" style="margin-left: 44px;text-align: right;">
            Actions
          </div>
          <div class="btn-div" style="width: 221px;margin-left: 10px;">
            <button class="clear-btn-f" id="btn-modify">Modify</button>
            <button class="clear-btn-f" id="btn-delete">Delete</button>
            <button type="button" class="clear-btn-f" id="filterClear">Clear Filter</button>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'shared/adjust_horizontal_scroll' %>
    <div id="user-list-row" class="row dt-user-m">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover user-list-table" id="users_datatables">
          <thead>
            <tr role="row" class="heading">
              <th><input type="checkbox" id="chk_select_all"></th>
              <th name="order_lic_p_method" class="sorting">Type</th>
              <th name="order_username" class="sorting">Username</th>
              <th name="order_name" class="sorting">Name</th>
              <th name="order_email" class="sorting">Email</th>
              <th name="order_api_id" class="sorting">API ID</th>
              <th name="order_api_key" class="sorting">API Key</th>
              <th name="order_camera_count" class="sorting">Cameras Owned</th>
              <th name="order_camera_share" class="sorting">Cameras Shared</th>
              <th name="order_camera_total" class="sorting">Cameras Total</th>
              <th name="order_snapmail_count" class="sorting">Snapmails</th>
              <th name="order_country" class="sorting">Country</th>
              <th name="order_registered" class="sorting datatable-date">Registered</th>
              <th name="order_email_confirmed" class="sorting">Confirmed Email</th>
              <th name="order_last_login_at" class="sorting">Last Login</th>
              <th name="order_lic_used" class="sorting">Licence Required</th>
              <th name="order_lic_valid" class="sorting">Licence Valid</th>
              <th name="order_lic_deficient" class="sorting">Licence Deficient</th>
              <th name="order_referral_url" class="sorting">Referral URL</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="deleteModal" class="modal fade">
  <div class="modal-dialog width-420">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12 padding-0">
          <p class="text-left margin-0">Are you sure you want to <strong>Delete</strong> <label id="total_users"></label> users(s)?</p>
        </div>
        <br>
        <div class="col-md-12 margin-top-10 padding-0">
        </div>
      </div>
      <div class="modal-footer padding-15">
        <div class="col-sm-8 padding-0">
          <button id="delete-users" name="delete-user" class="btn btn-danger pull-left">Delete</button>
          <input type="button" class="btn btn-default pull-left" value="Cancel" data-dismiss="modal" />
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="txt_api_url" value="<%= @api_url %>">
<script>
  $(document).ready(function () {
    window.initializeusers();
  });
</script>
