<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
      <li class="start">
        <a href="/">
          <i class="icon-users"></i>
          <span class="title">Users</span>
          <span class="selected"></span>
        </a>
      </li>
      <!-- BEGIN FRONTEND THEME LINKS -->
      <li>
        <%= link_to dashboard_path do %>
          <i class="icon-home"></i>
          <span class="title">
              Dashboard
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to admins_path do %>
          <i class="fa fa-user"></i>
          <span class="title">
            Admins
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to cameras_path do %>
          <i class="icon-camera"></i>
          <span class="title">
            Cameras
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to merge_cameras_path do %>
          <i class="fa fa-camera-retro"></i>
          <span class="title">
            Duplicate Cameras
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to cloud_recordings_path do %>
          <i class="fa fa-cloud"></i>
          <span class="title">
            Cloud Recordings
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to archives_path do %>
          <i class="fa fa-archive"></i>
          <span class="title">
            Archives
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to meta_datas_path do %>
          <i class="fa fa-file-video-o"></i>
          <span class="title">
            Active Video Sessions
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to snapshot_extractors_path do %>
          <i class="fa fa-archive"></i>
          <span class="title">
            Snapshot Extractor Tool
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to snapshot_extractors_list_path do %>
          <i class="fa fa-archive"></i>
          <span class="title">
            Snapshot Extractor Report
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to licence_reports_path do %>
          <i class="fa fa-certificate"></i>
          <span class="title">
            Licences Report
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to timelapse_path do %>
          <i class="fa fa-file-video-o"></i>
          <span class="title">
            Timelapse Report
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to vendors_path do %>
          <i class="icon-camera"></i>
          <span class="title">
            Vendors
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to vendor_models_path do %>
          <i class="icon-camera"></i>
          <span class="title">
            Models
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to camera_share_requests_path do %>
          <i class="icon-share"></i>
          <span class="title">
            Share Requests
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to map_path do %>
          <i class="icon-map"></i>
          <span class="title">
            Map
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to maps_gardashared_path do %>
          <i class="icon-map"></i>
          <span class="title">
            Maps Garda
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to maps_construction_path do %>
          <i class="icon-map"></i>
          <span class="title">
            Maps Construction
          </span>
        <% end %>
      </li>
      <li class="last ">
        <%= link_to kpi_path do %>
          <i class="icon-graph"></i>
          <span class="title">
            KPI
          </span>
        <% end %>
      </li>
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
<!-- END SIDEBAR -->
