<% if @compares.present? %>
  <% @compares.each do |compare| %>
    <tr>
      <td class="delete-compare" data-id="<%= compare.id %>"><span class="far fa-trash-alt"></span></td>
      <td><%= compare.inserted_at.strftime('%a, %d %b %Y') %></td>
      <td><%= compare.name %></td>
      <td>
        <% if compare.camera.present? %>
          <a href="<%= check_env %>/v1/<%= compare.camera.exid %>?api_key=<%= compare.user.api_key %>&api_id=<%= compare.user.api_id %>" title=""><%= compare.camera.name %></a>
        <% else %>
          Camera doesn't not exist.
        <% end %>
      </td>
      <td>
        <% if compare.user.present? %>
          <a href="<%= check_env %>/v1/cameras?api_key=<%= compare.user.api_key %>&api_id=<%= compare.user.api_id %>" title=""><%= compare.user.firstname %> <%= compare.user.lastname %></a>
        <% else %>
          User doesn't not exist.
        <% end %>
      </td>
      <td><%= compare.status %></td>
      <td class="code-to-copy"><%= compare.embed_code %></td>
      <td class="copy-embed-code" title="Copy Embed Code"><span class="far fa-copy"></span></td>
      <td><%= compare.exid %>|<%= compare.camera.exid %></td>
    </tr>
  <% end %>
<% end %>
