<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content" id="snapshots-report">
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
          <%= render 'shared/breadcrumb_basic', current_section: "Snapshots" %>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div id="snapshots-list-row" class="row hide">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover" id="snapshots_datatables">
          <thead>
          <tr role="row" class="heading">
            <th name="order_name" class="sorting">Name</th>
            <th name="order_owner" class="sorting">Exid</th>
            <th name="order_count" class="sorting">Owner</th>
            <th name="order_oldest_snapshot" class="sorting">CR Status</th>
            <th name="order_cr_status" class="sorting">Total Snapshots</th>
          </tr>
          </thead>
          <tbody>
          <% @cameras.each do |camera| %>
            <tr>
              <td><%= link_to camera.name, camera_path(camera) %></td>
              <td><%= camera.exid %></td>
              <td><%= link_to camera.user.fullname, user_path(camera.user) %></td>
              <td>
                <% if camera.cloud_recording %>
                  <% if camera.cloud_recording.storage_duration.equal?(-1) %>
                    Infinity
                  <% elsif camera.cloud_recording.storage_duration.equal?(1) %>
                      24 hours recording
                  <% else %>
                    <%= camera.cloud_recording.storage_duration %> days recording
                  <% end %>
                <% end %>
              </td>
              <td>0</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->

<script>
  $(document).ready(function () {
    window.initializSnapshotsNew();
  });
</script>
