<% if @archives.present? %>
  <% @archives.each do |archive| %>
    <% requester = EvercamUser.find(archive.requested_by).decorate %>
    <tr>
      <td><a href="/cameras/<%= archive.camera_id %>"><%= archive.camera.name %></a></td>
      <td><a href="/users/<%= archive.requested_by %>"><%= requester.fullname %></a></td>
      <td><%= archive.title %></td>
      <td><%= archive.from_date %></td>
      <td><%= archive.to_date %></td>
      <td><%= archive.status %></td>
      <td><%= archive.created_at %></td>
      <td></td>
    </tr>
  <% end %>
<% end %>
