<% if @archives.present? %>
  <% @archives.each do |archive| %>
    <% requester = EvercamUser.find(archive.requested_by).decorate %>
    <tr>
      <td>
        <% if camera = Camera.find(archive.camera_id) %>
          <a href="/cameras/<%= camera.id %>"><%= camera.name %></a>
        <% else %>
          Camera doesn't not exist.
        <% end %>
      </td>
      <td><a href="/users/<%= archive.requested_by %>"><%= requester.fullname %></a></td>
      <td><%= archive.title %></td>
      <td><%= archive.from_date.strftime('%a, %d %b %Y %H:%M:%S') %></td>
      <td><%= archive.to_date.strftime('%a, %d %b %Y %H:%M:%S') %></td>
      <td><%= archive.status %></td>
      <td><%= archive.created_at.strftime('%a, %d %b %Y %H:%M:%S') %></td>
      <td><%= Time.at(archive.to_date) - Time.at(archive.from_date) %></td>
      <td><%= archive.embed_time %></td>
      <td><%= archive.public %></td>
      <td><%= archive.frames %></td>
    </tr>
  <% end %>
<% end %>
