<% if @archives.present? %>
  <% @archives.each do |archive| %>
    <% requester = EvercamUser.find(archive.requested_by).decorate %>
    <tr>
      <td>
        <% if archive.camera.present? %>
          <%= archive.camera.exid %>
        <% else %>
          Camera doesn't not exist.
        <% end %>
      </td>
      <td>
        <div class='link-user'>
          <a class='pull-left' href='/users/<%= archive.requested_by %>'><%= requester.fullname %></a>
          <a class='pull-right u-dash' href='<%= check_env %>/v1/cameras/<%= archive.camera.present? ? archive.camera.exid : "" %>/archives?api_id=<%= requester.api_id %>&api_key=<%= requester.api_key %>' target='_blank'><i class='fa fa-external-link'></i></a>
        </div>
      </td>
      <td><%= archive.title %></td>
      <td><%= archive.from_date.strftime('%a, %d %b %Y %H:%M:%S') %></td>
      <td><%= archive.to_date.strftime('%a, %d %b %Y %H:%M:%S') %></td>
      <td><%= archive.status %></td>
      <td><%= archive.created_at.strftime('%a, %d %b %Y %H:%M:%S') %></td>
      <td><%= Time.at(archive.to_date) - Time.at(archive.from_date) %></td>
      <td><%= archive.embed_time %></td>
      <td><%= archive.public %></td>
      <td><%= archive.frames %></td>
    </tr>
  <% end %>
<% end %>
